<div class="topbar">
  <div class="feedback">{{ trans('system.feedback') }}</div>
  <div class="language">
      <select id="language">
        {% for region, name in regions %}
          <option value="{{ region }}">{{ name }}</option>
        {% endfor %}
      </select>
  </div>
</div>
