<div class="header">
  <a href="/"><img class="img-responsive" src="/img/logo_grey.png" alt="" /></a>
  <div class="search">
    <span class="glyphicon glyphicon-search"></span>
    <input id="search" placeholder="{{ trans('system.search_term') }}">
  </div>
</div>
