@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Common styles of menus */
.dl-menuwrapper {
  float: left;
  max-width: 240px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  position: relative;
  width: 100%;
  z-index: 10;
}
.dl-menuwrapper button {
	background: #f9f9f9;
	border: none;
  cursor: pointer;
  height: 45px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-indent: -900em;
  width: 48px;
}
/*.dl-menuwrapper button:hover,*/
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
	background: #eee;
}
.dl-menuwrapper button:after {
  background: #888;
  box-shadow:
    0 10px 0 #888,
    0 20px 0 #888;
  content: '';
  height: 5px;
  left: 16%;
  position: absolute;
  top: 10px;
  width: 68%;
}
.dl-menuwrapper ul {
  box-shadow: 2px 2px 10px;
	list-style: none;
  padding: 0;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.dl-menuwrapper li {
  border-bottom: 1px solid #ccc;
	position: relative;
}
.dl-menuwrapper li a {
  color: #888;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 20px;
  outline: none;
  padding: 15px 20px;
  position: relative;
}
.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,0.1);
}
.dl-menuwrapper li.dl-back > a {
	background: rgba(0,0,0,0.1);
  margin-left: 0;
  padding-left: 30px;
}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  content: "\e901";
  font-family: 'icomoon';
  line-height: 50px;
  position: absolute;
  speak: none;
  top: 0;
  -webkit-font-smoothing: antialiased;
}
.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: rgba(0,0,0,0.15);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.dl-menuwrapper li > a:after {
  color: rgba(0,0,0,0.15);
  right: 10px;
}
.dl-menuwrapper .dl-menu {
	margin: 1px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.dl-menuwrapper li:last-child {
  border-bottom: 0;
}
.dl-submenu li a {
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
	display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut1 0.4s;
	animation: MenuAnimOut1 0.4s;
}

@-webkit-keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn1 0.3s;
	animation: MenuAnimIn1 0.3s;
}

@-webkit-keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn1 0.4s ease;
	animation: SubMenuAnimIn1 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut1 0.4s ease;
	animation: SubMenuAnimOut1 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}

.facebook-icon:after {
  -webkit-font-smoothing: antialiased;
  color: #3b5998;
  content: "\e903";
  font-family: 'icomoon';
  font-size: 25px;
  left: 7px;
  line-height: 50px;
  position: absolute;
  speak: none;
  top: 0;
}
.twitter-icon:after {
  -webkit-font-smoothing: antialiased;
  color: #00aced;
  content: "\e906";
  font-family: 'icomoon';
  font-size: 25px;
  left: 7px;
  line-height: 50px;
  position: absolute;
  speak: none;
  top: 0;
}
.mail-icon:after {
  -webkit-font-smoothing: antialiased;
  content: "\e905";
  font-family: 'icomoon';
  font-size: 25px;
  left: 7px;
  line-height: 50px;
  position: absolute;
  speak: none;
  top: 0;
}
.checked-icon:after {
  -webkit-font-smoothing: antialiased;
  color: #0A915D;
  content: "\e904";
  font-family: 'icomoon';
  font-size: 20px;
  left: 7px;
  line-height: 50px;
  position: absolute;
  speak: none;
  top: 0;
}
