/* Topbar */
.topbar {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f5f5f5;
  color: #888;
  height: 45px;
}
.feedback {
  background: no-repeat url('../img/mail_icon.png') left 30%;
  cursor: pointer;
  font-size: 14px;
  line-height: 15px;
  padding-left: 20px;
  position: absolute;
  right: 210px;
  top: 12px;
  width: 1px;
}
.language {
  background: #fff;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 120px;
}
.language:after {
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #ccc;
  border-width: 5px;
  content: " ";
  height: 0;
  left: 85%;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 100;
}
.language select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 2px 8px;
  width: 130%;
}
.language select:focus {
  outline: none;
}
