.ac-container{
  margin: 10px auto 30px auto;
  width: 100%;
}
.ac-container div {
  margin-bottom: 20px;
}
.ac-container label{
  /*background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: black url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/lol-textures.jpg") no-repeat 0 -6px;*/
  background: rgba(255, 255, 255, 0.1);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 2px #323232;
  color: #777;
  cursor: pointer;
  display: block;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  height: 45px;
  line-height: 33px;
  padding: 5px 15px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  z-index: 20;
}
.ac-container label:hover{
  background: rgba(25, 25, 25, 0.2);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background: #333;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  background: transparent url(../public/img/arrow-down.png) no-repeat center center;
  content: '';
  height: 24px;
  position: absolute;
  right: 13px;
  top: 11px;
  width: 24px;
}
.ac-container input:checked + label:hover:after{
  background-image: url(../public/img/arrow_up.png);
}
.ac-container input{
  display: none;
}
.ac-container article{
  background: rgba(255, 255, 255, 0.5);
  height: 0px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  transition:
    height 0.3s ease-in-out,
    box-shadow 0.6s linear;
  z-index: 10;
}
.ac-container input:checked ~ article{
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  transition:
    height 0.5s ease-in-out,
    box-shadow 0.1s linear;
}
.ac-container article p{
  color: #777;
  font-size: 14px;
  font-style: italic;
  line-height: 23px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article.ac-small{
  height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
  height: 180px;
}
.ac-container input:checked ~ article.ac-large{
  height: 230px;
}
